/.idea/.idea.Exercise2/.idea/.gitignore
/Exercise2_1/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Exercise_6/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Exercise2_1/obj/Debug/net6.0/apphost
/Exercise_6/obj/Debug/net6.0/apphost
/.idea/.idea.Exercise2/.idea/encodings.xml
/Exercise2.sln
/Exercise2_1/bin/Debug/net6.0/Exercise2_1
/Exercise2_1/obj/Debug/net6.0/Exercise2_1.AssemblyInfo.cs
/Exercise2_1/obj/Debug/net6.0/Exercise2_1.AssemblyInfoInputs.cache
/Exercise2_1/obj/Debug/net6.0/Exercise2_1.assets.cache
/Exercise2_1/Exercise2_1.csproj
/Exercise2_1/obj/Debug/net6.0/Exercise2_1.csproj.AssemblyReference.cache
/Exercise2_1/obj/Debug/net6.0/Exercise2_1.csproj.CoreCompileInputs.cache
/Exercise2_1/obj/Debug/net6.0/Exercise2_1.csproj.FileListAbsolute.txt
/Exercise2_1/obj/Exercise2_1.csproj.nuget.dgspec.json
/Exercise2_1/obj/Exercise2_1.csproj.nuget.g.props
/Exercise2_1/obj/Exercise2_1.csproj.nuget.g.targets
/Exercise2_1/bin/Debug/net6.0/Exercise2_1.deps.json
/Exercise2_1/bin/Debug/net6.0/Exercise2_1.dll
/Exercise2_1/obj/Debug/net6.0/ref/Exercise2_1.dll
/Exercise2_1/obj/Debug/net6.0/refint/Exercise2_1.dll
/Exercise2_1/obj/Debug/net6.0/Exercise2_1.dll
/Exercise2_1/obj/Debug/net6.0/Exercise2_1.GeneratedMSBuildEditorConfig.editorconfig
/Exercise2_1/obj/Debug/net6.0/Exercise2_1.genruntimeconfig.cache
/Exercise2_1/obj/Debug/net6.0/Exercise2_1.GlobalUsings.g.cs
/Exercise2_1/bin/Debug/net6.0/Exercise2_1.pdb
/Exercise2_1/obj/Debug/net6.0/Exercise2_1.pdb
/Exercise2_1/bin/Debug/net6.0/Exercise2_1.runtimeconfig.json
/Exercise_6/bin/Debug/net6.0/Exercise_6
/Exercise_6/obj/Debug/net6.0/Exercise_6.AssemblyInfo.cs
/Exercise_6/obj/Debug/net6.0/Exercise_6.AssemblyInfoInputs.cache
/Exercise_6/obj/Debug/net6.0/Exercise_6.assets.cache
/Exercise_6/Exercise_6.csproj
/Exercise_6/obj/Debug/net6.0/Exercise_6.csproj.AssemblyReference.cache
/Exercise_6/obj/Debug/net6.0/Exercise_6.csproj.CoreCompileInputs.cache
/Exercise_6/obj/Debug/net6.0/Exercise_6.csproj.FileListAbsolute.txt
/Exercise_6/obj/Exercise_6.csproj.nuget.dgspec.json
/Exercise_6/obj/Exercise_6.csproj.nuget.g.props
/Exercise_6/obj/Exercise_6.csproj.nuget.g.targets
/Exercise_6/bin/Debug/net6.0/Exercise_6.deps.json
/Exercise_6/bin/Debug/net6.0/Exercise_6.dll
/Exercise_6/obj/Debug/net6.0/ref/Exercise_6.dll
/Exercise_6/obj/Debug/net6.0/refint/Exercise_6.dll
/Exercise_6/obj/Debug/net6.0/Exercise_6.dll
/Exercise_6/obj/Debug/net6.0/Exercise_6.GeneratedMSBuildEditorConfig.editorconfig
/Exercise_6/obj/Debug/net6.0/Exercise_6.genruntimeconfig.cache
/Exercise_6/obj/Debug/net6.0/Exercise_6.GlobalUsings.g.cs
/Exercise_6/bin/Debug/net6.0/Exercise_6.pdb
/Exercise_6/obj/Debug/net6.0/Exercise_6.pdb
/Exercise_6/bin/Debug/net6.0/Exercise_6.runtimeconfig.json
/.idea/.idea.Exercise2/.idea/indexLayout.xml
/Exercise2_1/Program.cs
/Exercise_6/Program.cs
/Exercise2_1/obj/project.assets.json
/Exercise_6/obj/project.assets.json
/Exercise2_1/obj/project.nuget.cache
/Exercise_6/obj/project.nuget.cache
/Exercise2_1/obj/project.packagespec.json
/Exercise_6/obj/project.packagespec.json
/Exercise2_1/obj/rider.project.restore.info
/Exercise_6/obj/rider.project.restore.info
/.idea/.idea.Exercise2/.idea/vcs.xml
